.Play {
  background-color: #1DB954;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* min-height: 90vh; */
}

.Play > h1 {
  font-weight: 700;
}

.Play > h1, p {
  color: #121212;
}

.Play > p {
  color: #121212;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}
