.App {
  text-align: center;
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1.75vmin);
  color: white;
  padding: 3rem;
}

.button {
  border: none;
  background-color: #121212;
  color: white;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
